<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Righteous&family=Space+Mono&family=Titan+One&display=swap"
        rel="stylesheet">
    <title>Elden Ring</title>
    <link rel="icon" type="image/x-icon" href="/favicon.webp">
</head>
<body>
    <header>
        <div class="Developer">
            <nav class="nav">
                <div class="planetExpress">
                    <img class="imgPlanet" src="logo.png" />
                </div>

                <div class="Nombrelogo">
                    <p class="logo">
                        <span><strong>Planet Express</strong></span>
                    </p>
                </div>
                <div class="login">
                    <a href="./login"><b>Login</b></a>
                </div>
                <div class="register">
                    <a href="./registro"><b>Registro</b></a>
                </div>




                <div class="welcome">
                    <a href="./landingPage" id="nameD"><b>Bienvenido</b></a>
                </div>
            </nav>
    </header>
    <img src="/morgotts-great-rune-key-item-elden-ring-wiki-guide.png">
    
</body>
</html>